<div class="container-fluid align-items-start">
  <div class="row">
    <ng-container *ngFor="let env of environments$ | async">
      <div class="col">
        <div class="card">
          <div class="env-status bg-success"></div>
          <div class="card-header">
            <div class="env-name">
              <span>{{ env.name }}</span>
              <span class="badge" [ngStyle]="{ background: env.color }">{{ env.code }}</span>
            </div>
          </div>

          <div class="card-body px-4">
            <jhi-activities [activities]="env.activities"></jhi-activities>
          </div>

          <div class="card-body d-flex justify-content-between">
            <jhi-add-activity-modal></jhi-add-activity-modal>
            <a class="btn btn-link" [routerLink]="['./', env.id]">Go to {{ env.name }} <fa-icon icon="chevron-right"></fa-icon> </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
