<div class="container-fluid align-items-start">
  <div class="row" *ngIf="environmets$ | async">
    <ng-container *ngFor="let env of environmets$ | async">
      <div class="col">
        <div class="card">
          <div class="card-header" [ngStyle]="{ background: env.color }">
            <div class="env-name">
              {{ env.name }}
              <span class="badge rounded-pill text-bg-secondary">{{ env.label }}</span>
            </div>
          </div>
          <div class="alert alert-warning" id="no-result" *ngIf="0 === 0">
            <span jhiTranslate="techboardApp.dashboard.noActivityFound">No Activity found</span>
          </div>
          <div class="card-body">
            <a href="{{ env.link }}" class="card-link">Go to {{ env.name }}</a>
          </div>
          <div class="card-body">
            <button type="button" class="btn btn-primary">Do something</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
