<div class="container-fluid align-items-start">
  <div class="row">
    <ng-container *ngFor="let env of environments$ | async">
      <div class="col">
        <div class="card">
          <div class="card-header" [ngStyle]="{ background: env.color }" ngbTooltip="{{ env.description }}">
            <div class="env-name">{{ env.name }}</div>
            {{ env.label }}
          </div>

          <div class="card-body">
            <jhi-activities [activities]="env.activities"></jhi-activities>
          </div>

          <div class="card-body d-flex justify-content-between">
            <button type="button" class="btn btn-primary" ngbTooltip="Open a modal window to add new activity for the environments.">
              Add activity
            </button>
            <a class="btn btn-link" [routerLink]="['./', env.id]">Go to {{ env.name }} <fa-icon icon="chevron-right"></fa-icon> </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
