<div>
  <h2 id="page-heading" data-cy="ActivityHeading">
    <span jhiTranslate="techboardApp.activity.home.title">Activities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="techboardApp.activity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activity"
        [routerLink]="['/activity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="techboardApp.activity.home.createLabel"> Create a new Activity </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activities?.length === 0">
    <span jhiTranslate="techboardApp.activity.home.notFound">No Activities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="activities && activities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startedOn">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.startedOn">Started On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finishedOn">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.finishedOn">Finished On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="link">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.link">Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="impediment">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.impediment">Impediment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="environment.id">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.environment">Environment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="kind.id">
            <div class="d-flex">
              <span jhiTranslate="techboardApp.activity.kind">Kind</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/activity', activity.id, 'view']">{{ activity.id }}</a>
          </td>
          <td>{{ activity.name }}</td>
          <td>{{ activity.startedOn | formatMediumDatetime }}</td>
          <td>{{ activity.finishedOn | formatMediumDatetime }}</td>
          <td>{{ activity.link }}</td>
          <td>{{ activity.impediment }}</td>
          <td>
            <div *ngIf="activity.employee">
              <a [routerLink]="['/employee', activity.employee.id, 'view']">{{ activity.employee.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="activity.environment">
              <a [routerLink]="['/environment', activity.environment.id, 'view']">{{ activity.environment.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="activity.kind">
              <a [routerLink]="['/activity-kind', activity.kind.id, 'view']">{{ activity.kind.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activity', activity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(activity)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
