<div class="fw-bold mb-2">Current activities:</div>
<ul class="list-group list-group-flush" *ngIf="activities && activities.length; else noActivities">
  <li class="list-group-item" *ngFor="let activity of activities">
    <ng-template #popTitle>
      <span class="fw-bold">{{ activity.name }}</span>
    </ng-template>

    <ng-template #popContent>
      <p *ngIf="activity.startedOn">
        <span>Started:</span>
        <span class="fw-bold">{{ activity.startedOn | date: 'MMM d H:mm' }}</span>
      </p>
      <p *ngIf="activity.finishedOn">
        <span>Ends:</span>
        <span class="fw-bold">{{ activity.finishedOn | date: 'MMM d H:mm' }}</span>
      </p>
      <p>
        by:
        <span class="fw-bold">{{ activity.owner.firstName }} {{ activity.owner.lastName }}</span>
      </p>
    </ng-template>

    <fa-icon icon="bolt" class="text-danger"></fa-icon>
    <button type="button" class="btn btn-link btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="'inside'">
      <span class="fw-bold">{{ activity.name }}</span>
    </button>
    <span>{{ activity.owner.firstName }} {{ activity.owner.lastName }}</span>

    <ng-container *ngFor="let tagObj of activity.tags">
      <span class="badge rounded-pill" [ngStyle]="{ 'background-color': tagObj.color }" [ngbTooltip]="tagObj.description"
        >#{{ tagObj.tag }}</span
      >
    </ng-container>

    <span *ngIf="activity.finishedOn"
      >started by <span class="fw-bold">{{ activity.owner.lastName }}</span
      >,</span
    >

    <span *ngIf="activity.finishedOn"
      >ends <span>{{ activity.finishedOn | date: 'MMM d' }}</span></span
    >
  </li>
</ul>
<ng-template #noActivities>
  <p>No current activities for this environment.</p>
</ng-template>
