<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="activityKind">
      <h2 data-cy="activityKindDetailsHeading"><span jhiTranslate="techboardApp.activityKind.detail.title">Activity Kind</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ activityKind.id }}</span>
        </dd>
        <dt><span jhiTranslate="techboardApp.activityKind.name">Name</span></dt>
        <dd>
          <span>{{ activityKind.name }}</span>
        </dd>
        <dt><span jhiTranslate="techboardApp.activityKind.description">Description</span></dt>
        <dd>
          <span>{{ activityKind.description }}</span>
        </dd>
        <dt><span jhiTranslate="techboardApp.activityKind.color">Color</span></dt>
        <dd>
          <span>{{ activityKind.color }}</span>
        </dd>
        <dt><span jhiTranslate="techboardApp.activityKind.icon">Icon</span></dt>
        <dd>
          <span>{{ activityKind.icon }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/activity-kind', activityKind.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
