<button type="button" class="btn btn-primary" (click)="open(content)">Add activity</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-activity-modal-title">
      Add New Activity for
      <span class="fw-bold">{{ env.name }}</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <form [formGroup]="addActivityForm" novalidate autocomplete="off" (ngSubmit)="saveActivity()">
    <div class="modal-body">
      <div class="mb-3">
        <label for="activity-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="activity-name" formControlName="name" />
      </div>

      <div class="mb-3">
        <label for="activity-started-on">Activity Start</label>
        <input
          type="datetime-local"
          id="activity-started-on"
          class="form-control"
          formControlName="startedOn"
          placeholder="YYYY-MM-DD HH:mm"
        />
      </div>

      <div class="mb-3">
        <label for="activity-finished-on">Activity End</label>
        <input
          type="datetime-local"
          id="activity-finished-on"
          class="form-control"
          formControlName="finishedOn"
          placeholder="YYYY-MM-DD HH:mm"
        />
      </div>

      <div class="mb-3">
        <label for="activity-description" class="form-label">Description</label>
        <input type="text" class="form-control" id="activity-description" formControlName="description" />
      </div>

      <div class="mb-3">
        <label for="activity-link" class="form-label">Link</label>
        <input type="text" class="form-control" id="activity-link" formControlName="link" />
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="activity-flagged" formControlName="flagged" />
        <label class="form-check-label" for="activity-flagged">Activity Flagged</label>
      </div>

      <div class="mb-3">
        <label for="activity-tag" class="col-xs-3 col-sm-auto col-form-label">Tags</label>
        <div class="col">
          <select id="activity-tag" aria-label="Select tag" multiple formControlName="tags" class="form-control">
            <option [ngValue]="tag" *ngFor="let tag of allTags">{{ tag.tag }}</option>
          </select>

          <small *ngIf="searching" class="form-text text-muted">searching...</small>
          <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" ngbAutofocus (click)="modal.dismiss('Cancel button')">Cancel</button>
      <button type="submit" class="btn btn-outline-primary"><fa-icon icon="save"></fa-icon>&nbsp;Save New Activity</button>
    </div>
  </form>
</ng-template>

<pre>{{ closeResult }}</pre>
