<button type="button" class="btn btn-primary" (click)="open(content)">Add activity</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="add-activity-modal-title">Add activity</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="activityStartInput">Activity Start</label>
        <div class="input-group">
          <input id="activityStartInput" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
      <div class="mb-3">
        <label for="activityEndInput">Activity End</label>
        <div class="input-group">
          <input id="activityEndInput" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
