<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading" jhiTranslate="techboardApp.event.home.createOrEditLabel">
        Create or edit a Event
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="techboardApp.event.message" for="field_message">Message</label>
          <input type="text" class="form-control" name="message" id="field_message" data-cy="message" formControlName="message" />
          <div *ngIf="editForm.get('message')!.invalid && (editForm.get('message')!.dirty || editForm.get('message')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('message')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="techboardApp.event.receivedOn" for="field_receivedOn">Received On</label>
          <div class="d-flex">
            <input
              id="field_receivedOn"
              data-cy="receivedOn"
              type="datetime-local"
              class="form-control"
              name="receivedOn"
              formControlName="receivedOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('receivedOn')!.invalid && (editForm.get('receivedOn')!.dirty || editForm.get('receivedOn')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('receivedOn')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('receivedOn')?.errors?.datetimelocal"
              jhiTranslate="entity.validation.datetimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="techboardApp.event.link" for="field_link">Link</label>
          <input type="text" class="form-control" name="link" id="field_link" data-cy="link" formControlName="link" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="techboardApp.event.environment" for="field_environment">Environment</label>
          <select
            class="form-control"
            id="field_environment"
            data-cy="environment"
            name="environment"
            formControlName="environment"
            [compareWith]="compareEnvironment"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="environmentOption" *ngFor="let environmentOption of environmentsSharedCollection">
              {{ environmentOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="techboardApp.event.reporter" for="field_reporter">Reporter</label>
          <select
            class="form-control"
            id="field_reporter"
            data-cy="reporter"
            name="reporter"
            formControlName="reporter"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
