<div class="fw-bold mb-2">Current activities:</div>
<div *ngIf="activities && activities.length; else noActivities">
  <div *ngFor="let activity of activities" class="mb-2">
    <ng-template #popTitle>
      <span class="fw-bold">{{ activity.name }}</span>
    </ng-template>

    <ng-template #popContent>
      <p *ngIf="activity.startedOn">
        <span>Started:</span>
        <span class="fw-bold">{{ activity.startedOn | date: 'MMM d H:mm' }}</span>
      </p>
      <p *ngIf="activity.finishedOn">
        <span>Ends:</span>
        <span class="fw-bold">{{ activity.finishedOn | date: 'MMM d H:mm' }}</span>
      </p>
      <p>by: <span class="fw-bold">User</span></p>
    </ng-template>

    <fa-icon icon="bolt" class="text-danger"></fa-icon>
    <button type="button" class="btn btn-outline-primary btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="'inside'">
      <span class="fw-bold">{{ activity.name }}</span>
    </button>
    <span *ngIf="activity.finishedOn"
      >started by
      <span class="fw-bold" ngbTooltip="Some information about the user.Could be clickable to offer some contact possibilities.">{{
        activity.owner.lastName
      }}</span
      >,</span
    >
    <span *ngIf="activity.finishedOn"
      >ends <span>{{ activity.finishedOn | date: 'MMM d' }}</span></span
    >
  </div>
</div>
<ng-template #noActivities>
  <p>No current activities for this environment.</p>
</ng-template>
